In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [7]:
#Creating data
np.random.seed(111)

Param_1=np.random.normal(0,1,50)
Param_2=np.random.normal(0,1,40)
Param_3=np.random.normal(0,1,30)
df = pd.DataFrame({'val':np.concatenate([Param_1,Param_2,Param_3]),
             'data':np.repeat(['A','B','C'],[len(Param_1),len(Param_2),len(Param_3)])})

In [14]:
df

          val data
0   -1.133838    A
1    0.384319    A
2    1.496554    A
3   -0.355382    A
4   -0.787534    A
..        ...  ...
115 -0.270292    C
116 -0.383694    C
117  1.211868    C
118 -0.489244    C
119  0.518549    C

[120 rows x 2 columns]

In [12]:
model = ols('val ~ data',data=df).fit()

In [13]:
sm.stats.anova_lm(model, typ=1)

             df      sum_sq   mean_sq         F    PR(>F)
data        2.0    0.794858  0.397429  0.437613  0.646628
Residual  117.0  106.256352  0.908174       NaN       NaN